body {
  height: auto !important;
  min-height: 100vh;
}

article section.prose {
  max-width: 100%;
}
article section.prose > div.min-w-0 {
  max-width: none !important;
  flex: 1 1 0%;
  min-width: 0;
}
.article-content {
  max-width: none !important;
}